.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999; 
}

.close-modal-icon {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  cursor: pointer;
  color: red;
  z-index: 1;
}

.modal-overlay {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0; 
}

/* modal content */
.modal-content {
  display: flex;
  flex-direction: column;
  position: fixed; 
  top: 50%; 
  left: 50%; 
  min-width: 1300px;
  min-height: 700px;
  max-height: 500px;
  width: auto;
  transform: translate(-50%, -50%);
  background: white;
  padding: 10px;
  border-radius: 5px;
  color: black;
  overflow-y: auto;
}

.title{
  font-size: 50px;
  margin-bottom: 40px;
}

.content-wrapper {
  display: flex;
  flex: 1;
  margin-bottom: 20px;
}

.description-title {
  text-align: left;
  font-size: 20px;
  margin-bottom: 20px;
}

.description-contents {
  display: flex;
  text-align: left;
  width: 800px;
  text-indent: 24px;
}

.stack{
  text-align: left;
  font-size: 20px;
  padding-left: 100px;
  padding-right: 0px;
  margin-bottom: 20px;
}

/* tech stack list */

.tech-stack {
  padding-right: 0px;
}

.modal-content ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  justify-items: left;
  gap: 5px;
  padding: 0 400px;
  padding-left: 120px;
  padding-right: 0px;
}

.modal-content li {
  display: flex;
  text-align: left;
}

.modal-content li::before {
  content: "•";
  margin-right: 10px;
  color: #000;
  font-size: 18px;
}

/* Features */
.features-container{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.features-title{
  display: flex;
  font-size: 20px;
  margin-bottom: 10px;
}

.features-list{
  margin-left: 24px;
}

/* Links */
.links-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.links-title{
  display: flex;
  font-size: 20px;
  margin-bottom: 10px;
}

.links{
  display: flex;
  flex-direction: column;
  text-align: left;
  text-indent: 24px;
}

.image-title {
  font-size: 50px;
  margin-bottom: 20px;
}

/* image grid */

.modal-images {
  display: flex;
  flex: 2; 
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px; 
  margin: 10px auto; 
}

.modal-images img{
  width: 400px; 
  height: auto;
}

